
<div class="row">
<div class="col-6">
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <label>Product ID</label>
    <input type="text" name="ProductID" #ProductID="ngModel" [(ngModel)]="product.formData.productid" placeholder="Product ID">
    <br>
    <label>Product Name</label>
    <input type="text" name="ProductName" #ProductName="ngModel" [(ngModel)]="product.formData.productname" placeholder="Product Name">
    <br>
    <label>Product Price</label>
    <input type="text" name="ProductPrice" #ProductPrice="ngModel" [(ngModel)]="product.formData.productprice" placeholder="Product Price">
    <br>
    <label>Bill ID</label>
    <input type="text" name="BillId" #BillId="ngModel" [(ngModel)]="product.formData.billid" placeholder="Bill ID">
    <br>
    <button (click)="onSubmit(form.value)" class="btn btn-success">Submit</button>
    <button (click)="updateProduct(form.value)" class="btn btn-warning">Update</button>  
  </form>
</div>

<div class="col-6">
  <table class="table">
      <thead>
        <tr style="text-align: center;">
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Bill Id</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody  *ngFor="let item of productDataList">
        <tr style="text-align: center;">
          <th (click)="populateForm(item)" scope="row">{{item.productid}}</th>
          <td (click)="populateForm(item)">{{item.productname}}</td>
          <td (click)="populateForm(item)">{{item.productprice | currency: "VND" }}</td>
          <td (click)="populateForm(item)">{{item.billid}}</td>
          <td>
            <button (click)="deleteProduct(item.productid)" style="margin-right: 0.5rem" type="submit" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>