
<div class="row">
  <div class="col-6">
    <form novalidate autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
      <label>Product ID</label>
      <input type="text" name="BillId" #BillId="ngModel" [(ngModel)]="bill.formData.billid" placeholder="Bill ID">
      <br>
      <label>Product Name</label>
      <input type="text" name="ToTalPrice" #ToTalPrice="ngModel" [(ngModel)]="bill.formData.totalprice" placeholder="Total Price">
      <br>
      <button (click)="onSubmit(form.value)" class="btn btn-success">Submit</button>
      <button (click)="updateBill(form.value)" class="btn btn-warning">Update</button>  
    </form>
  </div>
  
  <div class="col-6">
    <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">Bill ID</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody  *ngFor="let item of productDataList">
          <tr style="text-align: center;">
            <th (click)="populateForm(item)" scope="row">{{item.billid}}</th>
            <td (click)="populateForm(item)">{{ item.totalprice | currency: "VND" }}</td>
            <td>
              <button (click)="gotoDetail(item.billid)" style="margin-right: 0.5rem" type="submit" class="btn btn-warning">Detail</button>
              <button (click)="deleteBill(item.billid)" style="margin-right: 0.5rem" type="submit" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
