<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" style="margin: 1rem">
            <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
          </li>
          <li class="nav-item" style="margin: 1rem">
            <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>