<div>
    <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">Product Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of productDataList">
          <tr style="text-align: center;">
            <th scope="row">{{item.productid}}</th>
            <td>{{item.productname}}</td>
            <td>{{item.productprice  | currency: "VND"}}</td>
          </tr>
        </tbody>
      </table>
  </div>